div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
}

#first {
  padding: 10px;
  margin-bottom: 70px
}

#second {
  padding: 40px 70px;
}   

#third {
  margin-top: 5px;
  padding: 25px 20px 50px;
  margin-bottom: 130px;
}

#fourth {
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 130px;
}